* {
    background-color: #0766AD;
}

h1 {
    color: #29ADB2;
    background-color: #F3F3F3
}

h2 {
    color: #C5E898;
    background-color: #F3F3F3
}


/* --------- used differant colors from colorhunt.co per course --------------------- */


